@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  }
}

@keyframes background-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 400% 400%;
  animation: background-pan 15s ease infinite;
}

@keyframes countdown-circle {
  to {
    stroke-dashoffset: 0;
  }
}

.timer-circle {
  animation: countdown-circle linear forwards;
}

@keyframes glowing-logo {
  0% {
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 5px #fff);
  }
  50% {
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
  }
  100% {
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 5px #fff);
  }
}

.glowing-logo-animation {
  animation: glowing-logo 2.5s ease-in-out infinite;
}
